body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background: #f8f9fc;
  color: #2e2e2e;
  font-size: 15px;
}

header {
  background: #1c2331;
  color: white;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  margin: 0;
  font-size: 26px;
  letter-spacing: 1px;
}

.logo span {
  color: #ffd700;
  font-weight: bold;
  font-size: 28px;
}

.mascotas-iconos img {
  width: 45px;
  border-radius: 50%;
}

nav {
  background-color: #34495e;
  text-align: center;
  padding: 12px 0;
}

nav a {
  color: #ecf0f1;
  margin: 0 16px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffd700;
}

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 40px;
}

.info-box {
  background-color: white;
  border: 1px solid #dcdde1;
  border-radius: 12px;
  padding: 20px;
  width: 45%;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  transition: transform 0.2s;
}

.info-box:hover {
  transform: translateY(-4px);
}

.info-box h2 {
  margin-top: 0;
  color: #1c2331;
}

.contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenido img {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-left: 15px;
}

.info-box a {
  display: inline-block;
  margin-top: 10px;
  color: #1e90ff;
  text-decoration: none;
  font-weight: bold;
}

.formulario {
  background-color: #ffffff;
  border: 1px solid #d1d8e0;
  padding: 20px;
  border-radius: 12px;
  width: 35%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  align-items: center;
}

.formulario h2 {
  margin-top: 0;
  color: #2c3e50;
}

.formulario label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.formulario input,
.formulario select {
  width: 100%;
  padding: 7px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.formulario button {
  margin-top: 15px;
  background-color: #1e90ff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formulario button:hover {
  background-color: #1c70cc;
}

footer {
  background-color: #1c2331;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 13px;
  margin-top: 40px;
}